		* {
			box-sizing: border-box;
		}
		
		a{
			color: black;
			text-decoration: none;
		}
		
		a:visited{
			color: black;
			text-decoration: none;
		}
		
		nav{
			display:inline-block;
			width: 100%;
			background-color: white;
			box-shadow: 1px 10px 20px 1px #eeeeee;
			box-sizing:border-box;
			position: sticky;
			top: 0px;
			z-index:1;
			text-align: center;
		}
		
		#wrapper{
			display:flex;
			flex-direction: column;
		}
		
		#menu{
			display:inline-block;
		}
		
		#menu li {
			display: inline;
			padding:15px;
			margin:0px;
		}
		
		#menu a {
			display: inline-block;
		}
		
		#align_left{
			display: inline;
			float:left;
			font-size: 240%;
			margin-left: 1%;
		}
		
		#align_left i{
			color: gray;
		}
		
		
		#align_right{
			display: inline;
			float:right;
			font-size: 240%;
			margin-right: 1%;
		}
		
		#align_right i{
			color: gray;
			margin-right: 10px;
		}
		
		section {
			background-color: #white;
			display: block;
			float: left;
			padding-top: 60px;
			padding-left: 15%;
			display: flex;
			flex-direction: row;
		}
		#img {
			display: inline-block;
			width: auto;
			box-sizing: border-box;
		}
		#info {
			font-size: 23px;
			background-color: white;
			flex: auto;
			text-align: center;
			box-sizing: border-box;
			display: inline-block;
			margin-top: 5%;
			margin-left: 10%;
			margin-right: 15%;
			}
		.Button{
			display: flex;
			justify-content: space-around;
			border-radius: 10px;
			padding: 2px;
		}
		#b1:link, #b1:visited{
			margin: 10px;
			color: black;
			background-color: #ced4da;
			flex: 3;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
		}
		#b1:hover, #b1:active {
  			background-color: #ffc9c9;
		}
		#b2{
			margin: 10px;
			color: black;
			background-color: #e9ecef;
			flex: 2;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
		}
		#b2:hover, #b2:active {
  			background-color: #ffc9c9;
		}
		#b3{
			margin: 10px;
			color: black;
			background-color: #f1f3f5;
			flex: 1;
			font-size: 24px;
  			padding: 14px 25px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			border-radius: 15px;
		}
		#b3:hover, #b3:active {
  			background-color: #ffc9c9;
		}
		article {
			float: left;
			background-color: white;
			display: inline-block;
			margin-top: 3%;
			margin-left: 15%;
			margin-right: 15%;
		}		
		#row {
			text-align: center;
		}
		#txt {
			margin: 50px;
			font-size: 20px;
			text-align: center;
		}
		footer{
	   margin-top:100px;
		background-color: #1F4948;
		color: white;
		height: 200px;
		}

		footer div{
			display:inline-block;
			font-size:13px;
		}
		
		footer div#left{
			color: #f8f9fa;
			float: left;
			margin-top: 50px;
			margin-left: 350px;
		}
		
		footer div#right{
			color: #f8f9fa;
			float: right;
			margin-top: 50px;
			margin-right: 350px;
		}